* {
    margin: 0;
}
 
img {
    width: 250px;
    transition-delay: 0.5s;
    transition-duration: 0.2s;
} 


.containerf {
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gallery-wrapper {
    overflow-x: auto;
    width: 90vw;
    padding: 10px 20px;
}

.galley {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.card-body1 {
    width: 100%;
    z-index: -1;
    padding: 15px 0 10px 18px;
    transition-delay: 0.5s;
    transition-duration: 1.5s;
    color: #141414;
    background-color: #141414;
    padding-right: 18px;
    height: 110px;
}

.card-body1 > p {
    height: 40px;
    margin: 0;
    margin-bottom: 10px;
}
.card-body2{ 
    z-index: 1;
    font-size: var(--bs-body-font-size);
    color: white;
    background-color: #141414;
    border-radius: 0 0 4px 4px ;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.325);
    transition-delay: 0.5s;
    transition-duration: 1.5s;
}

.evento > img {
    width: 350px;
    border-radius: 4px 4px 0 0 ;
}

.config {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}
.info{
    display: flex; 
    justify-content: space-between;
}

.info > p{
    margin: 0;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid #141414;
}
